/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html{
    background-color: #F2F2F2;
}

#padre{
    display: grid;
    font-family: 'Red Hat Display', sans-serif;
}
#logo{
    padding: 3% 0 2%;
    justify-self: center;
}


/* CABECERA */

#cabecera{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    align-items: center;
}

#groupChat{
    display: grid;
    justify-self: center;
    row-gap: 10%;
}
.groupChat__title{
    font-weight: 900;
    color:28283D;
    font-size:  64px;
    text-align: center;
}
.groupChat__text{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #87879D;
}


.groupChat__buttons{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    color:white;
    font-weight: 900;
    font-size: 16px;
}
.groupChat__buttons__download{
    background-color: #4D96A9;
}
.groupChat__buttons__download span{
    color:#8FE3F9;
}
.groupChat__buttons__whatis{
    background-color: #855FB1;
}
.groupChat__button{
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 25px;
}


.cabecera__right{
    justify-self: right;
}